.Footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-100);
  font-weight: 600;
  padding: 64px 90px;

  .topside-footer-container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    margin-bottom: 32px;
    // justify-content: center;
  }

  #social-media-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .list {
    list-style: none;

    .address-list-item {
      font-size: 24px;
    }

    &:first-child {
      padding: 0;
    }

    .list-item > a {
      display: flex;
      row-gap: 8px;
      font-size: 24px;
      column-gap: 10px;
      text-decoration: none;
      color: var(--color-primary-black);
    }

    .arrow-up-right-svg {
      width: 32px;
    }
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    .contact-pro-container {
      font-size: 24px;
    }
  }

  .newsletter-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;

    .newsletter-label {
      display: flex;
      flex-direction: column;
      font-size: 64px;
    }
    .newsletter-input {
      font-size: 24px;
      border: none;
      padding: 20px 24px;
      border-radius: 18px;
      width: 658px;
    }
  }

  .copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright-text {
      font-size: 24px;
      font-weight: 600;
      margin: 38px 0;
      margin-left: 10px;
    }
  }
}

@media only screen and (max-width: 1110px) {
  .Footer {
    padding: 32px 16px;
    row-gap: 32px;
    align-items: center;

    .topside-footer-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 32px;
      padding: 32px;

      .newsletter-container {
        flex: 1;
        order: 1;
        padding: 24px 0;

        .newsletter-label {
          font-weight: 600;
          font-size: 32px;
        }

        .newsletter-input {
          font-size: 16px;
          width: 303px;
        }
      }

      .newsletter-container:last-child {
        order: -1;
      }
    }

    .copyright-container {
      .lg-logo {
        display: none;
      }
    }
  }
}
