@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary-black: #182b1b;
  --color-primary-white: #fafafa;
  --color-primary-grey: #8c8880;
  --color-primary-green: #4a6c6f;

  --color-light-green: #ebf0ec;
  --color-secondary-red: #ce4e4d;
  --color-border-grey: #eeeeee;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #cccccc;
  --color-blue-50: #ebf1fb;

  --color-terciary-50: #fbefeb;
  --color-green-800: #1f3824;

  --border-radius: 18px;

  --padding-section-large: 64px 90px;
  --padding-section-small: 16px;

  --spacing-margin: 32px;

  --font-size-xl: 64px;
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 16px;

  --font-family-primary: "Open Sans", sans-serif;
}

html,
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-primary-white);

  > * {
    padding: var(--padding-section-large);

    padding-top: 0;
    padding-bottom: 0;
  }

  a {
    width: fit-content;
  }
}

.SeeMore {
  font-size: var(--font-size-m);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;

  span {
    min-width: 132px;
  }
}

@media only screen and (max-width: 1110px) {
  :root {
    --padding-section-large: 16px 16px;
    --font-size-m: 1rem;
  }

  .SeeMore {
    gap: 32px;
  }
}
