.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700; }
  .Header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; }
    .Header nav ul.navigation-links {
      list-style: none;
      display: flex;
      font-size: 18px;
      gap: 1rem; }
      .Header nav ul.navigation-links li a {
        text-decoration: none;
        color: var(--color-primary-green); }
        .Header nav ul.navigation-links li a:hover {
          text-decoration: underline; }
  .Header .auth-links {
    display: flex;
    gap: 1rem; }
    .Header .auth-links a {
      text-decoration: none;
      font-size: 18px;
      padding: 8px 32px;
      border: none;
      border-radius: 50px;
      background: none;
      cursor: pointer;
      font-weight: 700;
      color: var(--color-primary-green); }
      .Header .auth-links a:hover {
        color: var(--color-primary-white);
        background-color: var(--color-primary-black); }
    .Header .auth-links a + a {
      color: var(--color-primary-white);
      background-color: var(--color-primary-green); }
